<?xml version="1.0" encoding="utf-8"?>

<!--
  Copyright (C) 2013 ohmage

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ohmage.app"
    android:versionCode="24"
    android:versionName="3.0.5">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="org.ohmage.app.Ohmage"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.ohmage.app.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.ohmage.app.ACTION_VIEW_STREAMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.ohmage.app.SurveyActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.ohmage.surveys.survey" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.ohmage.auth.AuthenticatorActivity"
            android:theme="@style/LogoTheme" />

        <service android:name="org.ohmage.auth.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="org.ohmage.sync.StreamSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_streams" />
        </service>

        <service
            android:name="org.ohmage.sync.ResponseSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_responses" />
        </service>

        <service
            android:name="org.ohmage.sync.OhmageSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_ohmage" />
        </service>

        <service
            android:name="org.ohmage.services.StreamReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="org.ohmage.streams.ACTION_WRITE" />
            </intent-filter>
        </service>

        <provider
            android:name="org.ohmage.provider.StreamContentProvider"
            android:label="@string/streams"
            android:authorities="org.ohmage.streams"
            android:exported="true"
            android:syncable="true" />

        <provider
            android:name="org.ohmage.provider.ResponseContentProvider"
            android:label="@string/responses"
            android:authorities="org.ohmage.responses"
            android:exported="true"
            android:syncable="true" />

        <provider
            android:name="org.ohmage.provider.OhmageContentProvider"
            android:label="Account Data"
            android:authorities="org.ohmage.db"
            android:exported="true"
            android:syncable="true" />

        <activity
            android:name="org.ohmage.auth.AccountNotActivatedDialog"
            android:theme="@style/Theme.AppCompat.Light.Translucent.NoTitleBar" />

        <activity
            android:name="org.ohmage.app.OhmletActivity"
            android:label="@string/title_activity_ohmlet"
            android:parentActivityName="org.ohmage.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.ohmage.ohmlets.ohmlet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:pathPattern="/ohmage/ohmlets/.*/invitation"
                    android:host="*.ohmage.org"
                    android:scheme="http" />
                <data
                    android:pathPattern="/ohmage/ohmlets/.*/invitation"
                    android:host="*.ohmage.org"
                    android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <receiver android:name="org.ohmage.app.ReminderReceiver">
            <intent-filter>
                <action android:name="org.ohmage.reminders.TRIGGER_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="org.ohmage.app.InstallSurveyDependencies"
            android:label="@string/install_dependencies_title" >
        </activity>
    </application>

</manifest>
